<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="2cdd3a47-a142-4fca-9eef-ffde34d87a9e" 
			 Name="ZenMake.Setup" 
			 Language="1033"
			 Version="1.0.0.0" 
			 Manufacturer="ZenMake" 
			 UpgradeCode="d3928c15-4d26-477f-adac-329ff3fec79a">
		
		<Package InstallerVersion="200" 
				 Compressed="yes" 
				 InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />

		<Media Id="1" Cabinet="product.cab" EmbedCab="yes"/>

		<Feature Id="ProductFeature" 
				 Title="ZenMake.Setup" 
				 Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="ZenMake.Setup" />
			</Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			<Component Id="ProductComponent">
				<File Id='zmEXE' Name='zm.exe' DiskId='1' Source='..\ZenMake.App\bin\Debug\zm.exe' KeyPath='yes' />
			 </Component> 
		</ComponentGroup>
	</Fragment>
</Wix>